[2016-06-26 14:13] ajeetraina opened #3 "Visualizer not showing up nodes"
I have 1 master node and 3 worker node. I have started the container as shown below:

root@test-master1:~# docker ps
CONTAINER ID        IMAGE                             COMMAND                  CREATED             STATUS
       PORTS                              NAMES
5e71e28bb451        manomarks/visualizer              "npm start"              4 minutes ago       Up 4 minutes
       0.0.0.0:50

[2016-06-26 15:01] ivansieder commented on #3
Hi @ajeetraina, could you please also provide the following information? That way, I could maybe help you:
- Which OS are you running docker on?
- Did you start the visualizer on the master node or somewhere else?
- Which command exactly did you use? As for the moment it looks to me, that you might have forgotten the -e PORT=5000 in your command.

[2016-06-26 15:07] ajeetraina commented on #3
This is Ubuntu 16.04 LTS running on Google Cloud Platform.

root@test-master1:~# cat /etc/issue
Ubuntu 16.04 LTS \n \l
root@test-master1:~#

Yes, I started it on the master node.

root@test-master1:~# docker ps
CONTAINER ID        IMAGE                  COMMAND                  CREATED             STATUS              PORT
S                              NAMES
02a472cf983e        redis:latest

[2016-06-26 15:28] ivansieder commented on #3
I suppose, you already have executed the following commands?
`docker swarm init` on the master node to initialize the swarm
`docker swarm join [HOST:PORT]` on the workers to join the swarm as worker nodes?

Do you see the nodes listed with the following command?: `docker node ls`

[2016-06-26 16:04] ajeetraina commented on #3
Yes, my swarm cluster is already up and running:

#docker node ls
ID                           NAME          MEMBERSHIP  STATUS  AVAILABILITY  MANAGER STATUS
cngggqk8ta7wbq186at8hslpk *  test-master1  Accepted    Ready   Active        Leader
d2xkdj1k0mc81v86xguqiztu3    test-node1    Accepted    Ready   Active
eip451pkmakzdcdc0e4o73436    test-node2    Accepted    Ready   Active
root@test-master1:

[2016-06-26 16:37] ivansieder commented on #3
Okay, I think I figured out the issue. The requests seem to be made client-side, so if you use localhost as -e HOST, it wont't work. Try to change `-e HOST=localhost` to `-e HOST=104.196.21.223` when you start your visualizer-container

[2016-06-27 07:24] ajeetraina commented on #3
That still doesnt work for me. 104.196.21.223 is public IP whereas 10.142.0.6 is the internal Ip as shown in Google Cloud. Not sure if internal Vs external IP is creating problem. I will test it in my internal lab.

[2016-06-27 07:31] ajeetraina commented on #3
Interestingly, I can access the visualizer and it just shows up whale but no nodes  :)

[2016-06-27 07:49] ivansieder commented on #3
Okay so in that case I would say it's an issue on how your cluster is configured. As i have tested it with 3 VPS on OVH.com, connected them through their public IP and set the HOST environment variable to the public IP of the VPS. That worked flawlessly for me.

104.196.21.223 is the public one and has also been used for the HOST environment variable. right?

[2016-06-28 03:04] wraithfive commented on #3
for myself I had to use the hostname of the manager and not the IP or localhost and then the nodes showed up.

[2016-06-28 06:19] ivansieder commented on #3
@wraithfive Did you also try it on Google's Cloud? As for me (VPS at OVH.com) it worked by using the public IP or the hostname. Have you already tried to use the public IP of your master for the HOST-environment variable?

[2016-06-28 15:17] wraithfive commented on #3
@ivansieder I'm in an internal environment with VM's only. No public IP, only private IPs and host names.

[2016-06-29 02:43] IcaroBichir commented on #3
I was having the same problem, just a blue screen without the nodes.
But running the docker with hostname, as @wraithfive said, works great.

My case:
[code]

[2016-06-29 03:02] ajeetraina commented on #3
I tried in my local virtual box but the same problem. The nodes doesn't
show up while the visualise UI is accessible.

Under Google Cloud, the master node is at 10.140.0.2 while the public IP is
at different IP. Even if I try DOCKER_HOST environment variable it won't
accept the public IP as inside OS instance, it wont understand the public
IP accessible from outside.

Will try hostname instead to

[2016-06-29 03:04] ajeetraina commented on #3
@Icaro, let me try your suggestion.

[2016-06-30 16:58] chadlung commented on #3
I'm seeing the same issue as well. Doing this on Vagrant (1 manager node, 2 worker nodes). I also tried using the hostname as suggested earlier in this thread but that didn't work for me - I still just get the blank Visualizer UI with no content.

[2016-06-30 19:29] ManoMarks commented on #3
Btw I'm on vacation right now without a computer so I won't be really able to look at this until mid July.

Some troubleshooting ideas: make sure you have 1.12 installed
Try curling the daemon Unix socket and see if anything turns  up. That's how the visualizer is powered. Check Chrome developer tools for errors that might help you track it down.

[2016-06-30 20:00] chadlung commented on #3
Playing around a bit more I did get this working. The hostname solution did not work for me, but using the manager's IP worked (using Vagrant).

[2016-07-01 00:29] BradleyA opened #6 "Visualizer not displaying node"
The visualizer does display the visualizer screen with the whale without any nodes in browser (Firefox & Chrome) when entering URL: http://192.168.1.201:5000/

$ uname -a
Linux one 3.16.0-76-generic #98~14.04.1-Ubuntu SMP Fri Jun 24 17:04:54 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

$ docker version
Client:
 Version:      1.12.0-rc2
 API version:  1.24
 Go version:   go1.6.2
 Git commit:   906eacd

[2016-07-01 03:18] ajeetraina commented on #3
I am too seeing the same issue. Tried on one of ESXi VM infrastructure and virtual box the blank visualizer turns up. Neither hostname nor IP helped me with nodes display.

[2016-07-01 11:21] ManoMarks commented on #6
Looks like your firewall is preventing access to the Docker Unix socket.

[2016-07-01 14:59] BradleyA commented on #6
Turning off the firewall on all systems did not correct the incident.
The error messages in the container log do not appear until I enter  URL: http://192.168.1.201:5000/ in the browser and stop when I close the browser and start again when entering the URL: http://192.168.1.201:5000/  in the browser.

[2016-07-03 03:58] bzon commented on #3
Trying this out on AWS EC2. The visualizer doesn't seem to display the nodes as well.

I just installed the engine from https://test.docker.com

From the Manager node, I did the following:

From the Worker node, I did the following:

[2016-07-03 14:35] BradleyA commented on #6
You are correct that the observed symptom of the visualizer not displaying any nodes in browser is the same as #3 but #3 states no errors were found in the log as this one does.  That is why I opened it to post the errors I am viewing in the log.  It would be more helpful if you could suggest additional debugging method you would recommend, thank you.

[2016-07-03 17:18] ManoMarks commented on #6
Sorry I'm on vacation right now and unable to test things out
On Jul 3, 2016 4:35 PM, "Bradley Allen" <notifications@github.com> wrote:

[2016-07-03 17:22] ManoMarks commented on #6
I'll be back next week and in front of a computer
On Jul 3, 2016 7:18 PM, "Mano Marks" <mano.marks@gmail.com> wrote:

[2016-07-04 12:58] ivansieder commented on #3
have you tried, if you can ping the master from your nodes with the hostname?

[2016-07-04 17:27] IcaroBichir commented on #3
@bzon
- When you start the swarm, this node appears on the visualizer?
    - if not, you try to set the HOST with this node-master hostname
- What is the output of ``docker node ls`` on the node-master?

[2016-07-08 16:08] TheLaxtSamurai commented on #3
I ran into the same issue using vagrant + centos7 + docker v1.12. Nothing recommended above worked.

I tried on Docker for mac and it worked running the same command.

[2016-07-13 16:12] ManoMarks commented on #3
The easiest way for me to debug this is to use Chrome dev tools. Or whatever JS debugging tool you use. The app console logs a lot of errors which can help out.

You can see in the attached an image of a functioning app and an image of a not functioning one and some of the errors you get like
client.js:960 GET http://http//192.168.99.100:8080/apis/nodes net::ERR_NAME_NOT_RESOLVEDh.end @ client.js:

[2016-07-13 16:25] ManoMarks commented on #6
OK so I'm back. Is it possible your daemon is running on a different socket? It can be configured to run differently. Other things to try: Did you build the visualizer image yourself? Or use the hub version? If you used the hub version, try pulling again I just pushed a new image that works for me.

[2016-07-13 18:16] BradleyA commented on #6
Repeated test on another system named three, same incident
Download docker 1.12.0-rc4
Restarted docker
$ sudo service docker restart
Downloaded latest manomarks/visualizer  (did not build my own image)
$ docker images | grep mano
manomarks/visualizer                     latest              7f2899d7f460        23 hours ago        373.5 MB

Output of dockerd
$ ps -ef | grep dockerd
root      4954

[2016-07-13 19:32] ManoMarks commented on #6
What showed up in the Chrome console logs?

[2016-07-13 19:33] ManoMarks commented on #6
Never mind, it's a socket error, happening at initial connection to the docker socket.

[2016-07-13 19:40] ManoMarks commented on #6
What's the output of `netstat -a` ? Do you see something like
`unix  2      [ ACC ]     STREAM     LISTENING      19954 /var/run/docker.sock`
?

[2016-07-13 20:30] ManoMarks commented on #6
Also are you in the docker group? Check out the [Docker Docs](https://docs.docker.com/engine/installation/linux/ubuntulinux/) for more info

[2016-07-13 20:37] julienstroheker commented on #3
FYI I had the same issue, I just insert the FQDN of my machine and works fine :
```docker run -it -d -p 5000:5000 -e HOST=mymachineX.eastus.cloudapp.azure.com -e PORT=5000 -v /var/run/docker.sock:/var/run/docker.sock manomarks/visualizer```

[2016-07-13 20:37] BradleyA commented on #6
$ netstat -a | grep docker
unix  2      [ ACC ]     STREAM     LISTENING     2620     /var/lib/docker/network/files/54191b75bbb522945a8a4db733be3b61fb2fbd15dc5bc67ea6e1eb7e7c91979b.sock
unix  2      [ ACC ]     STREAM     LISTENING     26883    /usr/local/docker/swarm/control.sock
unix  2      [ ACC ]     STREAM     LISTENING     2427     /var/run/docker/libcontainerd/docker-containerd.sock
unix

[2016-07-13 20:52] ManoMarks commented on #6
What happens if you run `curl --unix-socket /var/run/docker.sock http:/containers/json`

[2016-07-13 21:00] ManoMarks commented on #6
Also you can check out the docks on the [Docker Remote API](https://docs.docker.com/engine/reference/api/docker_remote_api/)

[2016-07-13 21:02] BradleyA commented on #6
$ curl --unix-socket /var/run/docker.sock http:/containers/json
curl: (7) Couldn't connect to server

[2016-07-13 21:04] ManoMarks commented on #6
OK so I think Docker is running on a different socket for you. Figure out what that is and substitute that for /var/run/docker.sock in the code should make it work

[2016-07-13 21:16] BradleyA commented on #6
How would I determine what socket docker is running on ?

[2016-07-13 21:58] ManoMarks commented on #6
I haven't been able to find a way. But, when you start Docker you can specify the path: `https://docs.docker.com/engine/reference/commandline/dockerd/`

[2016-07-13 22:27] BradleyA commented on #6
Do you think the incident is because I am using TLS ? (-H=three.cptx86.com:2376)
Here is the option I an using with the daemon:
$ ps -ef | grep dockerd
root 4954 1 1 12:23 ? 00:00:31 /usr/bin/dockerd --graph=/usr/local/docker --dns 192.168.1.202 --dns 8.8.8.8 --dns 8.8.4.4 --log-level warn --tlsverify --tlscacert=/etc/docker/certs.d/daemon/ca.pem --tlscert=/etc/docker/certs.d/daemon/three.cptx86.c

[2016-07-14 00:27] ManoMarks commented on #6
Yeah that could be it. I'm not as experienced in using that. Two things to try

1. use curl as described above to the default unix socket, but with certificates
2. try curling three.cptx86.com instead

[2016-07-14 15:16] BradleyA commented on #6
1.
curl --cert ~/.docker/cert.pem  --key ~/.docker/key.pem  --cacert ~/.docker/ca.pem --unix-socket /var/run/docker.sock https://`hostname -f`:2376/containers/json
curl: (7) Couldn't connect to server
2.
curl --cert ~/.docker/cert.pem  --key ~/.docker/key.pem  --cacert ~/.docker/ca.pem  https://`hostname -f`:2376/containers/json [{"Id":"d5c03ceaf97183260d021ab21a274f488b72dacba1943b444148bfec17015

[2016-07-14 16:05] ManoMarks commented on #6
Ah good. If you curl it without the certificates, then you have the path in your second example. You would just need to change the path in line 39 of server.js. However, if you need the certificates there's probably a bit more work. I'm using the  [ws NPM module](https://github.com/websockets/ws) for websocket connection which does look like it has some certificate support. It looks like I should

[2016-07-14 16:08] ManoMarks opened #7 "Add environment variables for custom sockets"
Needed:
1) Custom path
2) Key paths

[2016-07-14 16:08] ManoMarks commented on #7
cc: @BradleyA

[2016-07-14 17:24] BradleyA commented on #6
Thank you for your help.  All my systems are using TLS communications for Docker CLI and daemon.
Closing incident as current release does not supporting TLS.
I have found another method to receive the information I needed using the Linux watch command, but it is tied to a task, see example below:
docker service create --replicas 3 --name redis --update-delay 10s --update-parallelism 1 redis:3.0.6

[2016-07-14 17:24] #6 closed

[2016-07-14 18:33] ManoMarks commented on #3
@ TheLaxtSamurai, @ajeetraina were you able to get it working?

[2016-07-14 18:33] ManoMarks commented on #3
#7 might also be relevant

[2016-07-15 14:40] boydj commented on #7
Key paths are needed to be able to use this on Docker UCP, since the Remote API is secured.

[2016-07-15 14:53] boydj opened #8 "404 page not found"
$ docker run -it -d -p 8080:8080 -e HOST=ucp-controller-540dd7c4.east1a.prod -e constraint:node==ucp-controller-540dd7c4.east1a.prod -v /var/run/docker.sock:/var/run/docker.sock manomarks/visualizer

10:50 $ docker logs -f 960f0ab11bd8
npm info it worked if it ends with ok
npm info using npm@2.14.4
npm info using node@v4.1.2
npm info prestart swarmVisualizer@0.0.1
npm info start swarmVisualizer@0.

[2016-07-15 17:19] ManoMarks commented on #7
#8 requires fixing this
cc: @boydj

[2016-07-20 07:05] sswierczyna opened #9 "Seems not working with Docker v1.12 SwarmMode"
Do You have plans to support visualisation for SwarmMode natively added into docker v1.12 ?
https://docs.docker.com/engine/swarm/

[2016-07-20 07:27] sswierczyna commented on #9
Close as duplicate https://github.com/ManoMarks/docker-swarm-visualizer/issues/3

[2016-07-20 07:27] #9 closed

[2016-07-30 07:36] bzon commented on #3
@IcaroBichir @ManoMarks It now works for me.. I'm using an AWS EC2 Centos7 cluster here.

[code]

[2016-08-18 22:52] ManoMarks commented on #3
I'm going to close this issue assuming it's been fixed. Reopen if you are still encountering.

[2016-08-18 22:52] #3 closed

[2016-08-24 08:51] sebmoule opened #12 "server.js stop at first request"
I have try to send requests on the app but it fails with this error :

[code]
also can we call it in HTTPS ?

Thanks

[2016-08-24 19:13] ManoMarks commented on #12
Do you have a Swarm running? Are you running Docker 1.12? It looks like you're not getting anything back from the Docker Remote API. Are you running this on Windows, Mac, or Linux?

[2016-08-24 19:26] sebmoule commented on #12
I am running docker 1.11 it's not compatible ?

Sébastien

[2016-08-24 19:37] ManoMarks commented on #12
Correct

[2016-08-24 19:37] #12 closed

[2016-08-26 11:04] alexellis opened #16 "Tag: undefined"
"Tag : undefined" is displayed for tags of "latest", named tags such as "v6" do show up.

#dibs on this.

[2016-08-26 13:53] #16 closed

[2016-08-29 06:52] vasily-kirichenko opened #19 "It does not work"
![image](https://cloud.githubusercontent.com/assets/873919/18043093/34edb270-6dce-11e6-9f90-f057ed7f33c5.png)

[code]

[2016-08-29 15:35] briandoodyie commented on #19
what version of docker are you using? I see this error when i am using Docker Engine 1.11 ->https://github.com/ManoMarks/docker-swarm-visualizer/issues/12

[2016-08-30 10:08] rickpeters commented on #19
I had the same problem. Since there is almost no logging it was difficult to determine where to start. When I looked in the browser code I saw that the `HOST` entry is used 'locally' in the browser. Meaning it should be able to resolve. In my case that meant using a FQDN. Furthermore after I changed the port to 5000 it worked (even though port 8080 was still available for me).

I did something lik

[2016-08-30 14:01] megastef commented on #19
For me it did work after using the public IP in HOST on a digital ocean droplet. It did not work with ```-e HOST=$(hostname)``` on the master node.

[2016-08-30 14:03] megastef opened #20 "Render many containers in a better way."
Running 100 containers on 4 nodes:

![bildschirmfoto 2016-08-30 um 15 59 19](https://cloud.githubusercontent.com/assets/7289505/18092082/34905514-6ecb-11e6-8f34-5244a45cdd93.png)

[2016-08-30 14:20] vasily-kirichenko commented on #19
@rickpeters It's helped. Thanks!

[2016-08-30 14:20] #19 closed

[2016-08-30 19:44] ManoMarks commented on #20
Feel free to submit a pull request

[2016-08-30 21:35] callmepjs commented on #3
Ran into the same issue (blank visualizer). Enabling `CORS` in the browser fixed it for me.

[2016-09-01 11:12] kylegordon opened #21 "Starts, but nothing displayed"
Hi,

I have started visualizer with this...

`docker run --name=visualizer -it -d -p 9000:9000 -e HOST=10.2.10.34 -e PORT=9000 -v /var/run/docker.sock:/var/run/docker.sock manomarks/visualizer`

and it shows up correctly as running, but has an undefined error (investigations show this is due to process.env.DOCKER_HOST being empty)

10.2.10.34 is the IP of our swarm master, although as below the ma

[2016-09-01 20:16] raykrueger commented on #21
I think you need to deploy this on a master node, with the master node IP in the url.

[2016-09-01 21:14] gkze opened #22 "Memory usage display incorrect"
Running on a 1.12 cluster, seeing incorrect output:

<img width="1286" alt="screen shot 2016-09-01 at 2 13 01 pm" src="https://cloud.githubusercontent.com/assets/3131232/18184513/48206036-704e-11e6-9a7b-0e6507c26055.png">

These machines are almost maxed out, should be showing ~1-2GB free

[2016-09-07 01:39] tibmeister commented on #21
I'm going to echo raykruger's comments.  I have the identical screen that he has from issue #19.  I am using the IP address of the host's eth0 as the HOST variable.  I am using Docker 1.12.1 and have an active swarm.  All this is running on CentOS7.  This whole "undefined" is kinda disturbing...

Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built

[2016-09-07 01:41] ManoMarks commented on #21
@tibmeister are you running on a master node?

[2016-09-07 01:43] tibmeister commented on #21
Yep, and just found out what is going on, the HOST variable must match what is being used in the browser.  I was using HOST=IP and using FQDN in the browser URL.  Once I switched the HOST variable using FQDN it's working.  So, that's an interesting thing...

[2016-09-07 08:47] kylegordon commented on #21
Mornings,

So part of my problem was that I was running swarm master and agents upgraded from 0.11 to 0.12, and not using the built in Docker Engine swarm mode. I've since destroyed the cluster, and rebuilt using built in Swarm, and it works.

I can confirm what @tibmeister says though, you have to match $HOST in the browser url in order to obtain any output from it.

My issue is closed, but wheth

[2016-09-07 16:10] michaelwilde opened #24 "node hostname not scaleable"
Hey Mano... love the new improvements.   I have some long hostnames like es.demo.splunkninja.com.  on four nodes, they tend to clog each other up.   cmd +- doesn't have an effect.
![screenshot 2016-09-07 11 09 45](https://cloud.githubusercontent.com/assets/213230/18319527/b856c664-74eb-11e6-8738-1872d58c14ae.png)

[2016-09-12 15:36] TimothyYe opened #25 "Simple password authentication"
It would be nice that if visualizer supports simple password authentication to prevent unauthorized users when I expose it to the internet...

[2016-09-22 08:51] lordjea commented on #3
Hi, I'm getting the same issue
My environment is:
A host with docker and two containers running: swarm manager and visualizer

I got the felling about the Volumes, may be is needed to share /var/run/docker.sock from de swarm container to host and then from the host to visualizer container

One master, 3 nodes
Master started with:
command: "manage -H 0.0.0.0:4000 --strategy 'spread' --replication -

[2016-09-22 17:24] ManoMarks commented on #3
@lordjea This only works with Swarm Mode in Docker Engine 1.12, not the separate Docker Swarm project

[2016-09-24 00:51] woyorus commented on #22
The problem is that Docker reports total memory for nodes, not free memory. Workaround is changing labels to make it more clear — #26

[2016-09-24 17:00] adomenech73 opened #27 "Error: Request has been terminated"
I deploy the container apparently fine, the log that I see is:

[code]
I launch it on a swarm master node. but when I open the startup page http://hostip:8080 I only can see the background with a docker logo as header, but nothing else.

Firefox debug console is showing this error repeatly:

[code]
Any clue about what it can be wrong?

[2016-09-27 18:09] #27 closed

[2016-09-27 18:13] adomenech73 commented on #27
Seems that the problem was about accessing the console through IP:PORT form url
When I try to access through HOSTNAME:PORT form url, things seem to go fine

[2016-09-28 23:26] deanmax opened #29 "Can we display container name rather than image name in the visualizer?"

[2016-09-29 22:49] programmerq opened #30 "Visualizer doesn't reflect when a node has been promoted"
After promoting a node

    docker@node1:~$ docker node promote node2
    Node node2 promoted to a manager in the swarm.

The visualizer still shows it is a worker:

![image](https://cloud.githubusercontent.com/assets/37278/18975044/8e6e3fc8-8664-11e6-87ef-26dae6054afa.png)

After refreshing the visualizer, it shows the correct role:

![image](https://cloud.githubusercontent.com/assets/37278/18975

[2016-10-03 15:23] Josh-West-Bose commented on #24
+1

[2016-10-11 18:20] Laxman-SM commented on #21
+1 @tibmeister

[2016-10-17 12:38] clarenceb opened #31 "Image and tag names not displayed correctly when registry host[:port] present"
I have service containers deployed in swarm-mode from images tagged with the registry host and port, e.g.:  `registry.local:5000/vote:v1`.   I want to display then using docker-swarm-visualizer for a demo but they appear incorrectly.

**Expected image name**:  (Option 1) `vote` or  (Option 2) `registry.local:5000/vote`
(Not too fussed which option)
**Expected image tag**: `v1`

**Actual image name

[2016-10-20 15:30] johnharris85 commented on #21
`undefined` is crappy coding on my part. I just print the contents of the `DOCKER_HOST` environment variable as my of a PR a while ago and forgot to remove the line. It doesn't need to be set so the `undefined` you guys are seeing here is irrelevant / red herring.

[2016-10-23 10:28] mortensteenrasmussen commented on #31
+1, I wanted to solve this myself, but I see you already made a PR. I'd love to see this merged @ManoMarks.

[2016-10-27 13:42] rogerwelin commented on #24
+1

[2016-10-27 18:18] ManoMarks commented on #24
Ah good issue. What's the expected behavior?

[2016-10-27 18:47] michaelwilde commented on #24
scale it down.  I know wrapping would be hard unless you to wrap on a "."
Or heck you might just be able to hack a "scale font" button on there where people could just click to make it smaller and you just scale the CSS font size value.     Great app tho.

[2016-10-27 21:46] ManoMarks commented on #24
OK, thanks I'll take a look at it.

[2016-10-27 23:04] #21 closed

[2016-10-27 23:05] ManoMarks commented on #31
Merged

[2016-10-27 23:05] #31 closed

[2016-10-27 23:47] ManoMarks commented on #30
Fixed

[2016-10-27 23:47] #30 closed

[2016-10-28 00:48] ManoMarks commented on #24
I added a `text-overflow` on `.node-meta` to put an ellipsis at end of long names. I'd welcome a PR that allowed for flexible font sizes.

[2016-10-28 00:58] #24 closed

[2016-10-28 00:58] ManoMarks commented on #22
Fixed in #26

[2016-10-28 00:58] #22 closed

[2016-10-31 18:44] ManoMarks commented on #29
@deanmax   Container names in Swarm Mode are not that interesting. However, service name might be more interesting. Is that what you're going for?

[2016-10-31 18:56] deanmax commented on #29
@ManoMarks, what I want to see in the visualizer is the service name that I manually specified when creating the service. For now only image name of the service is displayed on the visualizer dashboard.

[2016-10-31 19:03] ManoMarks commented on #29
SGTM

[2016-11-01 11:46] mustafayildirim opened #35 "Service created but not assigned"
Hi,

Thanks for your application, I want to use it but I have a problem.
I have 3 master and 3 worker nodes. Master node Availabilities Drain (because I don't want to use them)

```10.0.0.2:~$ docker node ls```
ID                           HOSTNAME                        STATUS  AVAILABILITY  MANAGER STATUS
0xd9pv31tstr04e2et2a8hyue   swarm-manager1  Ready   Drain         Reachable
54nly90kgy765kc

[2016-11-02 00:44] pmcnett commented on #29
+1 service name. I have multiple services all using the same container and container tag.

[2016-11-02 13:56] marcellodesales opened #36 "UI calling localhost:8080 - Raspberry PI"
I have a Raspberry pi cluster that I wanna manage. However, I changed the main port number to 5000 and I'm opening the UI from my laptop instead of the raspberry PI running my swarm manager.

<img width="1436" alt="screen shot 2016-11-02 at 6 51 55 am" src="https://cloud.githubusercontent.com/assets/131457/19931267/10b51e42-a0c9-11e6-9776-38c2f0cb9b1f.png">

After starting the container in a node

[2016-11-02 14:13] marcellodesales commented on #36
Wouldn't the UI call the right URL here? https://github.com/ManoMarks/docker-swarm-visualizer/blob/b3ccae7ab23a53c061a912e129d73ace3c49d0be/src/utils/request.js#L4

[2016-11-02 14:35] alexellis commented on #36
If you're in a bind use an SSH tunnel to pimanager as a work-around.

`ssh pimanager -L 8080:localhost:5000`

I don't remember getting this issue when testing on my Pi though (and I wasn't on localhost). Have you tried rebuilding from source?

[2016-11-02 14:42] alexellis commented on #36
I think this is due to a change in the code since my fork.

Check out the README on my work - I pass an environmental variable with the name of the host. Maybe you're not doing that?

https://github.com/alexellis/docker-swarm-visualizer

Example: `docker run -it -d -p 5000:5000 -e HOST=pimanager -e PORT=5000 -v /var/run/docker.sock:/var/run/docker.sock manomarks/visualizer`

[2016-11-02 14:46] marcellodesales commented on #36
@alexellis I think the only thing that needs to be done is to push the latest version :D Just built locally and everything is good... Could you push the latest version?

<img width="768" alt="screen shot 2016-11-02 at 7 43 58 am" src="https://cloud.githubusercontent.com/assets/131457/19933352/455bad26-a0d0-11e6-97e5-1098d2394c66.png">

[code]

[2016-11-02 15:06] marcellodesales commented on #36
Just pushed the version I built...

https://hub.docker.com/r/marcellodesales/docker-swarm-visualizer/

[code]

[2016-11-02 15:11] alexellis commented on #36
Can you keep the issue open until I've had a chance to push a new tag i.e.
0.2 ?

On 2 November 2016 at 15:06, Marcello de Sales <notifications@github.com>
wrote:

--
Regards,

Alex Ellis

[2016-11-02 15:37] alexellis commented on #36
@marcellodesales Please can you try the 0.3 tag of my image?

[2016-11-02 17:52] marcellodesales commented on #36
@alexellis sure! I'm in the office now... I will try to update it by the end of today (PST)

[2016-11-02 17:53] alexellis commented on #36
Thanks - 0.3 is an alias of latest, but I'm trying to push distinct versions as well as maintain :latest.

[2016-11-02 18:06] ManoMarks commented on #36
@alexellis Thanks for looking into this. Maybe we should look at autobuilds?

[2016-11-02 18:08] alexellis commented on #36
@ManoMarks I would prefer that, but are auto-builds available for ARM on the Docker Hub now? (Last time I checked they were not)

[2016-11-02 18:09] ManoMarks commented on #36
No it would have to happen some other way

[2016-11-02 18:42] marcellodesales commented on #36
@alexellis yeah, I broke my build letting the the hub build my arm image... I had to push from Raspberry PI... Is there a raspberry pi cluster somewhere? :)

[2016-11-03 02:10] beenanner commented on #29
Running `docker service create --name my-test-service memcached` will produce the following:

![service-name](https://cloud.githubusercontent.com/assets/723985/19953823/cfd79dde-a148-11e6-842f-e8165f9a3781.jpg)

[2016-11-03 17:41] dongluochen opened #39 "Task missing at service update"
When I update image of a service, the tasks may go down and come up. But in most cases some tasks disappear in this period. I'll have to refresh visualizer to get them back.

In this example, 4 tasks from service `test` are running but only 2 are shown.

[code]

![screen shot 2016-11-03 at 10 34 03 am](https://cloud.githubusercontent.com/assets/14985073/19977612/67469da6-a1b1-11e6-8d15-4b85da7f04a

[2016-11-08 03:06] ManoMarks commented on #39
@dongluochen Can you give me some steps to recreate? I'm not showing this problem.

[2016-11-08 23:13] ManoMarks commented on #35
@mustafayildirim this looks like an issue with engine, not with the visualizer. Have you tried it with other services (redis or something)? If you're having a general issue with Swarm Mode, you should submit the issue on [https://github.com/docker/docker](https://github.com/docker/docker). If it's an issue only with this application, try to run the app with `docker run` instead, it doesn't need to

[2016-11-08 23:14] ManoMarks commented on #29
#38

[2016-11-08 23:14] #29 closed

[2016-11-08 23:15] ManoMarks commented on #20
#37

[2016-11-09 03:01] beenanner commented on #35
@mustafayildirim you can't schedule a service to nodes that are set to "drain" via swarm. Your constraint for the service is a manager via `--constraint=node.role==manager`, but all your managers are set to "drain" for the reason you mentioned in your initial report. This explains why your service is waiting to be assigned. If you set one of the managers back to available I bet the service would b

[2016-11-09 06:40] dongluochen commented on #39
@ManoMarks I have viz setup in AWS with 3 machines cluster. I access viz thru `public IP of the manager`:8080 with port 8080 allowed to my IP. Here are the steps to repro.

[code]
<img width="625" alt="screen shot 2016-11-08 at 10 33 26 pm" src="https://cloud.githubusercontent.com/assets/14985073/20129265/6704747a-a603-11e6-9fbd-3dcfcb0d405c.png">

If I do a refresh on the viz interface, it'll upd

[2016-11-09 06:59] mustafayildirim commented on #35
@ManoMarks @beenanner thanks your answer, I suspected with same you. You may be right that because managers are drain mode. I tried other applications but all is same not assigned.
I am closing the issue.

[2016-11-09 06:59] #35 closed

[2016-11-18 23:24] dongluochen commented on #39
Same problem with image `manomarks/visualizer:beta`. It looks like automatic refresh doesn't go thru. Force a refresh on chrome would fix the problem.

Here is info of visualizer.
[code]

[2016-11-21 12:12] mustafayildirim commented on #35
I fixed the problem. The problem is drain mode.
Thanks guys

[2016-11-21 21:24] ManoMarks commented on #36
I'm going to close this for lack of activity. Seems like it was resolved.

[2016-11-21 21:24] #36 closed

[2016-11-26 14:01] liyaka opened #41 "Services should appear with service names and not images names"

[2016-11-26 14:11] liyaka opened #42 "Add showing labels on nodes including engine labels"

[2016-11-26 14:12] liyaka opened #43 "Nodes hostname are not readable"
<img width="693" alt="screen shot 2016-11-26 at 16 11 38" src="https://cloud.githubusercontent.com/assets/3428104/20640840/195be476-b3f3-11e6-8ad6-b7421d1a19cc.png">

[2016-12-02 23:34] ManoMarks commented on #20
Since I closed the PR for lack of action, I'm closing this issue too. Feel free to submit another PR along the lines of what I suggested in #37

[2016-12-02 23:34] #20 closed

[2016-12-02 23:58] ManoMarks commented on #39
I am able to replicate the problem using Docker for AWS. What seems to happen is that the node stack doesn't show always show up if it involves changing a node that already has a service running on it. I'll dig deeper into this.

[2016-12-06 05:07] johnharris85 commented on #25
This seems like perhaps overkill for what was designed as simple demonstration visualizer tool. Probably exposing to the internet is not a great idea :)

[2016-12-08 15:01] DougEwalker commented on #3
Hi, I had the same thing. Whale logo, but no nodes.

My simple resolution was to switch from viewing the status page in IE, and use Firefox instead.

Bingo, manager + 2 x worker nodes.

Hope this helps.

[2016-12-22 15:02] pascalandy opened #45 "ENJOYING_THIS_PROJECT="Say thanks""
Here is the place to show your appreciation.
Cheers!

_Disclaimer: I don't have any kind of connexion with the maintainer of this project. Pure gratitude here :)_

[2016-12-22 15:02] pascalandy commented on #45
Thank you, I love this!

[2017-01-03 07:06] PatrickLang opened #46 "No support for DOCKER_TLS_VERIFY"
I have a Docker Swarm mode cluster set up with TLS, but no unencrypted or unix socket access since it's Windows. I'm using @StefanScherer 's [steps](https://github.com/StefanScherer/docker-windows-box/tree/master/swarm-mode) with a few changes:
- `DOCKER_HOST` is set to port 2376 instead of 2375 or :0.0
- `DOCKER_TLS_VERIFY` is set to 1
- Certificates are bind mounted into user's .docker directory

[2017-01-03 08:10] StefanScherer commented on #46
I haven't tried it with TLS yet, but found this older comment https://github.com/ManoMarks/docker-swarm-visualizer/issues/6#issuecomment-232711593 and it seems there is some work needed to fix it in the code.

[2017-01-03 10:56] StefanScherer commented on #46
ping @PatrickLang there is a PR #47 or use the Docker image `stefanscherer/visualizer-windows:allow-tls` with your specified commands from above.

[2017-01-03 18:52] #46 closed

[2017-01-04 07:05] PatrickLang commented on #46
Thanks! I added some comments to the PR with my testing

[2017-01-11 10:58] mustafayildirim commented on #41
#38 #29 fixed but hub.docker latest image is too old.
Can you push new image?
Thanks.

[2017-01-11 20:21] ManoMarks commented on #41
Pushed

[2017-01-11 20:21] ManoMarks opened #48 "Add autobuild"

[2017-01-12 06:43] mustafayildirim commented on #41
Thanks. That is worked, I think you can close the issue.

[2017-01-12 06:52] #41 closed

[2017-01-12 08:43] doughadfield opened #49 "memory display less than 1GB (for Pi clusters etc)"
![viz](https://cloud.githubusercontent.com/assets/6051108/21882731/c3405696-d8a3-11e6-9d5b-13995a78ee49.jpg)
Hi, this is an excellent app for simply illustrating docker clusters in a "lab" environment. In these environments Raspberry Pi clusters are common. However most Pis (Zeros) have less than 1GB memory, but the recent mod to display memory in GB displays "0" for memory sizes less than 1GB. Pl

[2017-01-17 15:34] sameetn commented on #39
Any update on this? I ran into this on my swarm setup on DigitalOcean. @ManoMarks I realize this is not production, but this is such an awesome tool when someone wants to see how the deployment works :-)

[2017-01-18 08:09] ManoMarks commented on #39
I have taken some time to look at it, but it's pretty complex. The original code wasn't mine so I'm having to track the lifecycle of a task through the swarm, it's a little complicated :-)

[2017-01-18 19:49] getvivekv commented on #49
+ 1. Same here.

[2017-01-19 16:45] wannaknowmo opened #50 "no such image : manomarks/visu… on 1.13"
hi,

i upgraded my docker swarm engine to 1.13.0 yesterday and the visualizer is no longer working for me.
if i rollback to  1.12.6 with the same viz service create cmd &  it works.

docker service create  --name=viz   --publish=5001:8080/tcp   --constraint=node.role==manager   --mount=type=bind,src=/var/run/docker.sock,dst=/var/run/docker.sock manomarks/visualizer
p2nphhjreujdw6nqk06xq50xq

j5886

[2017-01-24 23:03] ManoMarks commented on #50
@wannaknowmo I've updated the images, can you check now?

[2017-01-25 00:12] #48 closed

[2017-01-25 02:23] wannaknowmo commented on #50
hi,

sorry same error.

Jan 24 20:11:17 totod dockerd: time="2017-01-24T20:11:17.653444322-06:00" level=error msg="fatal task error" error="No such image: manomarks/visualizer@sha256:65e2a72f454bcc19c4bd818fef4ae776d1f6bb3249eecf32947358d0d4983372" module="node/agent/taskmanager" task.id=jdq7up49h9vresjdc79hv9cnq

one thing to keep in mind i don't have access to github to do a pull from my docker

[2017-01-25 03:23] ManoMarks commented on #50
Have you pulled the latest version of manomarks/visualizer?
[code]
And then save and load that one?

[2017-01-25 18:39] daviddyball commented on #45
This is sweet. Thank you @ManoMarks

[2017-01-26 14:15] wannaknowmo commented on #50
yes, i pulled it again with the same result.

i wipe out everything in /var/lib/docker across all the node in the docker swarm & it worked!!!.

thank you very much for your help

[2017-01-26 17:20] ManoMarks commented on #50
Great!

[2017-01-26 17:20] #50 closed

[2017-01-30 20:11] ManoMarks commented on #39
fixed in #53 and #54

[2017-01-30 20:11] #39 closed

[2017-01-30 20:12] #25 closed

[2017-01-30 20:23] ManoMarks commented on #49
Fixed, currently building. Will show 3 decimal places

[2017-01-30 20:23] #49 closed

[2017-01-30 20:59] ManoMarks commented on #8
Sorry bug is really old, so I'm closing it. Please reopen if still an issue

[2017-01-30 20:59] #8 closed

[2017-01-30 22:58] ManoMarks commented on #43
#55 adds a hover on the machine name that gives you room to view the full name.

[2017-01-30 22:58] #43 closed

[2017-01-30 22:58] #7 closed

[2017-01-31 01:33] ManoMarks commented on #42
Fixed in #56

[2017-01-31 01:33] #42 closed

[2017-02-05 00:30] starlightknight opened #57 "Subdirectory support?"
Thanks for creating this cool project!

Is it possible to configure this container to serve its content out of a subdirectory?

I would like serve this app, along with other admin/monitoring tools, out of admin.mydomain.com behind a reverse proxy like nginx. But after configuring it to proxy_pass to this application's container, the application's javascript will still try to hit /apis/ on the root

[2017-02-06 23:01] ManoMarks commented on #57
I'm not sure if that's an issue with the code or your configuration. The code looks for `window.location.host` + '/apis', which should return the whole host including the subdomain. You see that at request.js line 4.

[2017-02-07 01:33] starlightknight commented on #57
Hi,
I do not do much javascript development, but from what you described, I believe using window.location.host is the problem.

To clarify, I was referring to subdirectory support, not subdomain. I would like to have one internal subdomain - admin.mydomain.com. On the subdomain i deploy multiple internal tools to subdirectories - so think of other administrative tools like phpmyadmin.

That means

[2017-02-07 02:44] ManoMarks commented on #57
Ah I see. Thanks for clarifying. It should be easy I'll look into it.

[2017-02-22 14:30] morph027 opened #58 "Feature: Highlight drain nodes"
When nodes are in "drain" state, you could change the node status indicator to another color (grey, orange, yellow ....) ....

Also: Thank you ;)

[2017-02-27 10:19] viveky4d4v opened #59 "Possible to put some authentication ?"
We are using this extensively in our projects . Our URLs are public & we wanted to put some kind of authentication in front . I know authentication is not really required but still just to keep things to ourselves .

Is it possible to put a basic http auth in front ? If not , is there any plans ?

[2017-02-27 19:03] ManoMarks commented on #59
No plans for that. Should be simple to add your own however.

[2017-02-27 21:35] #59 closed

[2017-03-02 04:47] matsmit commented on #57
+1

seeing the same issue behind NGINX when a location is proxied, i.e. /oam/swarm -> proxy_pass http://swam-visualizer:8080

[2017-03-06 14:11] alexrun opened #61 "No such container Message"
When you click on a container inside a different note than the visualizer container as seen in the next image

![image](https://cloud.githubusercontent.com/assets/2502143/23612879/8a100950-0253-11e7-8a0d-bb6c1e6888d9.png)

You get the following json response

![image](https://cloud.githubusercontent.com/assets/2502143/23612924/b051a9d4-0253-11e7-99a3-e6e7337240c9.png)

I spec to get the same kind

[2017-03-21 18:23] robbiewxyz opened #62 "Understand service constraints"
I've using a global service with label constraints to run my database containers only on specific nodes.  So I created the service like this:

[code]

![visualizer screenshot](https://cloud.githubusercontent.com/assets/7308014/24163890/79f92bde-0e31-11e7-9a2e-6640a9dc9b27.png)

The `rethink-master` processes on the second two nodes will never start because of their constraints.

Can we somehow det

[2017-03-23 22:50] josephtyler commented on #45
I've really enjoyed this, thank you!

[2017-03-26 20:00] shuntera opened #63 "Errors on service creation"
When I created a Docker swarm service with the following (I had created the image visualizer-arm locally):

docker service create \
  --name=viz \
  --publish=8080:8080/tcp \
  --constraint=node.role==manager \
  --mount=type=bind,src=/var/run/docker.sock,dst=/var/run/docker.sock \
  visualizer-arm

I got these errors:
unable to pin image visualizer-arm to digest: errors:
denied: requested access

[2017-03-27 21:26] ManoMarks commented on #63
@alexellis can you check on this?

[2017-03-27 22:25] alexellis commented on #63
This is a standard Docker error message when images are local rather than in the hub or a local registry. Here's an issue for more background​ https://github.com/docker/docker/issues/29205

[2017-03-27 23:18] ManoMarks commented on #63
Ah. Thanks @alexellis, I just saw "arm" and sent it to you :-).
As for everything running on the manager, that's as expected. You have:
--constraint=node.role==manager as part of the command. The visualizer needs to run on a manager, otherwise it can't populate the data.
I'm closing this issue assuming your questions have been answered.

[2017-03-27 23:18] #63 closed

[2017-03-27 23:38] #57 closed

[2017-03-29 23:50] ManoMarks commented on #62
No, I think you would want to show that they aren't working.

[2017-05-02 13:48] gligoran commented on #57
Any plans to release a new version of visualizer that has this fix?

[2017-05-02 22:10] ManoMarks commented on #57
@gligoran it's now autobuilding from master at dockersamples/visualizer:latest

[2017-05-07 10:14] Vanuan opened #66 "Security"
How secure is this for running in production?

It looks like it exposes the Docker Remote API to the world. Is it correct?

[2017-05-07 10:16] Vanuan commented on #66
Well, even if you're running this locally on a computer connected directly to the internet (e.g. ipv6) and using the mapping suggested in readme: 8080:8080 you're under threat.

[2017-05-10 14:29] justintime4tea commented on #66
If you're running locally wouldn't a remote client need to traverse NAT to reach your local machine? If you're running local and don't have your "public facing" router forwarding traffic internally I think you'd be ok... Though I may be misunderstanding something. If you're running it remotely you could bind the visualizers port 8080 to the IP of a tun adapter and VPN to the remote machine to ensu

[2017-05-10 14:48] Vanuan commented on #66
@justintime4tea

Some internet providers don't use NAT and provide a real IP address.
This is especially true if ipv6 is used where each device is directly exposed to the internet.

So TL;DR: never run this on a computer exposed to the internet. Is that correct?

[2017-05-10 14:52] Vanuan commented on #66
Well, even when you're in company's VPN network, coworker can own your computer which might be a bad joke.

[2017-05-14 13:16] JonasKs opened #68 "Stuck in state "Pending""
Hello,

I have just created a docker swarm from scratch, and I am not able to run the visualizer, since its stuck in pending.

[code]
Docker version:
[code]
[code]

Same setup on 17.03 works, so I suspect the 17.05 is not supported yet?

[2017-05-15 16:56] DiegoGallegos4 commented on #68
are you publishing the correct port?

[2017-05-15 20:24] JonasKs commented on #68
Same setup work on same setup, but with older docker swarm, so yeah, I believe I do. As shown in docker service ls:
`*:9090->8080/tcp`

[2017-05-15 20:55] DiegoGallegos4 commented on #68
I think this is a Swarm problem, sometimes I have had to delete the node and created it again so it can start a pending service.

[2017-05-15 21:06] ManoMarks commented on #68
@JonasKs you said on an older docker swarm? You do you mean docker in swarm mode or the older docker swarm pre-Docker 1.12 version? The visualizer won't work on the older pre-1.12 version only Swarm mode.

[2017-05-15 21:19] JonasKs commented on #68
@ManoMarks Docker version 17.03 worked for me, but not 17.05. I can provide a full `docker version` on working setup tomorrow.

Created it by doing this:
[code]

[2017-05-15 21:30] JonasKs commented on #68
@ManoMarks :
[code]
Is from the working setup.

[2017-05-17 18:33] morph027 commented on #45
Also: Thank you! ;)

[2017-05-20 22:07] Illydth commented on #45
I'll add a Thank You as well!

[2017-05-24 21:51] niboowin commented on #45
Glorious thank you's to all.

[2017-05-24 22:53] yogeek commented on #45
Great project, very useful ! Thank you !

[2017-06-02 01:35] wannaknowmo opened #71 "[FEATURE REQUEST] displaying stdout hover"
hi,
would like to know if it would be feasible to display the stdout of a container with a onmouseover?

[2017-06-02 20:42] duffbuster opened #72 "CSS Issues"
<img width="490" alt="screen shot 2017-06-02 at 4 41 15 pm" src="https://cloud.githubusercontent.com/assets/1220827/26744059/5486a858-47b2-11e7-9ce3-e73de68da8cb.png">

Seeing a css issue on hover of the node elements. Looks like the `position: absolute` on the div is causing the problem.

[2017-06-23 20:24] ManoMarks commented on #72
Fixed in #73

[2017-06-23 20:24] #72 closed

[2017-07-05 11:40] nsmag commented on #66
what If we just expose the endpoint that trigger all Docker Remote API queries on server-side instead of directly expose the Docker Remote API endpoint?

[2017-07-09 16:09] AshleyAitken commented on #45
Thank you!

[2017-07-16 14:59] starplanet commented on #68
I have this problem too.

I deploy visualizer according to docker [get started tutorial](https://docs.docker.com/get-started/part5/#persist-the-data) and it will be stuck in pending:

[code]

Then I doubt it may be port conflict problem, so I change port 8080 to 8060. But the problem still exists:
[code]

my docker version:
[code]

[2017-07-16 19:00] RAKedz commented on #68
All,

I am also having services being stuck for more than 15 mins when they should last from seconds to a couple of mins.  It started when I upgraded to

docker-ce | 17.06.0~ce-0~ubuntu | https://download.docker.com/linux/ubuntu xenial/stable amd64 Packages  (which I added the edge).

 I would create a service and the 'service ls' command would show it as '0/1' for a long time, which contradicted

[2017-07-18 01:00] ManoMarks commented on #68
@RAKedz which issue did you come across that described the problem?

[2017-07-18 16:01] RAKedz commented on #68
I was using --batch=false during the 'service creation' and I could watch the output of the build from Jenkins and I guess it was going through a verification process of the task.  First it was pretty quick during this process.   Then I did some updates and kicked off another build and this time that verification process was taking a very long time.  I killed the build because I didn't want to bog

[2017-07-18 17:20] ManoMarks commented on #68
You said you ran into an open ticket, where was that ticket?

[2017-07-18 20:26] RAKedz commented on #68
This ticket and then another one similar [https://github.com/moby/moby/issues/33807](url) , which referred on how difficult it is to know what is happening during the process.  I commented on this one (#68) because it was more similar to my issue.

Here is a pic of his progress:

overall progress: 1 out of 1 tasks
1/1: running   [==================================================>]
verify: Waiting

[2017-07-19 15:34] SplinterHead opened #75 "[FEATURE REQUEST] Display 'drained' nodes"
We have our mangers configured to 'drained' so they don't run containers automatically. It would be good if we could grey them out or somehow show that they are drained.
`docker node update --availability drain <NODE>`

The setting is readable in the `docker node inspect` command json, so would be good to expose that.

Thanks,
PS. Loving this project so far

[2017-07-19 15:36] SplinterHead commented on #45
Discovered this recently loving the interface simplicity and speed!
Thank you kind humans

[2017-07-21 09:22] oppianmatt commented on #66
yep running this on production isn't good since by default docker will expose the port bypassing any firewall rules

[2017-07-29 20:02] herloct opened #76 "Should we removes the dev dependencies from the docker image?"
I think we should removes the dev dependencies from the docker image. It could saves around 100MB on the image sizes (from 370MB to 230MB).

We could change this parts:

[code]

To something like this:

[code]

And use something like TravisCI to run the `npm run dist` before building the docker image.

[2017-08-01 00:16] ManoMarks commented on #76
Thanks for the suggestion. I updated the Dockerfile as a multi-stage build file, and copied file files as you suggested. Biggest savings though was in switching to node:8.2.1-alpine. Try it out, and if you have other suggestions please do share, I'm not a node expert. Final image size is 148mb, compared to 151mb with a non-multi-stage build but still using node:8.2.1-alpine.

[2017-08-01 00:16] #76 closed

[2017-08-09 19:41] knutole commented on #66
How can this be run safely in production?

[2017-08-14 18:48] chrisns opened #79 "console logs DOCKER_HOST even when its not needed"
https://github.com/dockersamples/docker-swarm-visualizer/blob/master/server.js#L38

leads to an unnerving `undefined` being output on startup.

[2017-08-15 03:54] zhoulouzi opened #80 "sorry I can not understand what these colors represent for?"
what does the border in different colors means ？ about  the container resources situation ？

[2017-08-15 03:56] zhoulouzi commented on #80
maybe a more detail README.md thanks.

[2017-08-15 20:56] ManoMarks commented on #66
Let's keep in mind this is meant to be a sample app, not an app you would run in production. It initially was devised for visualization demos at DockerCon EU in 2015, and used again at DockerCon Seattle in 2016. So yes, it is not meant to be run in production.

If you wanted to run it in production you can [Protect the Docker daemon socket](https://docs.docker.com/engine/security/https/). It's muc

[2017-08-15 21:35] ManoMarks commented on #79
fixed in #82

[2017-08-15 21:35] #79 closed

[2017-08-15 21:45] ManoMarks commented on #66
Warning added in #67

[2017-08-15 21:45] #66 closed

[2017-08-15 21:47] ManoMarks commented on #68
I'm unable to replicate and it looks like this is not an issue with this app but a moby issue. So I'm closing this issue.

[2017-08-15 21:48] #62 closed

[2017-08-15 22:12] ManoMarks commented on #61
Fixed in #83

[2017-08-15 22:12] #61 closed

[2017-08-16 09:29] oppianmatt commented on #66
Protecting the socket guide doesn't help. Thats already protected. This app
bypasses that and expose a the docker socket to all.

On 15 Aug 2017 22:45, "Mano Marks" <notifications@github.com> wrote:

[2017-08-16 15:36] alexrun commented on #61
Well, that wasn't what I had in mind. You removed the onClick function on each container. What I was suggesting to do was to allow the user to view the info of any containers in any node.

[2017-08-16 21:17] ManoMarks commented on #61
It wasn't working reliably even on the node that the visualizer is on. Also that information isn't being used in the visualization.

[2017-08-21 17:21] stevelacy opened #85 "Code style updates"
Would you accept a PR to unify all the code style?
For instance, this has some crazy indentation: https://github.com/dockersamples/docker-swarm-visualizer/blob/master/server.js#L84
I'd be following this file's style: https://github.com/dockersamples/docker-swarm-visualizer/blob/master/karma.conf.js

Cheers

[2017-08-29 18:28] stewshka commented on #80
Looking at the code, seems that it is a randomly generated color based on the service ID.

[2017-09-03 12:49] AshleyAitken commented on #80
Perhaps the colour could relate to health of the container?  Or containers from the same stack could have the same colour?

[2017-09-16 23:02] pahakalle commented on #71
Should be possible with dockerodes [Helper functions](https://www.npmjs.com/package/dockerode#helper-functions)

[2017-10-02 16:11] asloan7 opened #88 "cmd gets truncated"
I have long-ish commands, and would like to see a bit more displayed - could be mouse-over for full command, or wrap-around to next line?

[2017-10-02 16:17] asloan7 commented on #80
The random border colours help the eye differentiate containers from each other. Container health would hopefully be all green for all containers! The dot before the container name already shows green/red (ie. during startup).

Maybe better than random, the colour could be derived from a hash of the name or ID, so the colours are different but stay the same after visualizer restarts.

[2017-11-22 02:41] ServerTheOne opened #95 "Update node.png"
The node.png currently linked from README.md is the image before the label is modified from #26 to [free to RAM].

Since the change has already been reflected, node.png also needs to be replaced.

[2017-11-28 16:34] holgerstolzenberg opened #96 "Make it possible use socket-proxy"
In my setup, I like to use "rancher/socat" which exposes the Docker socket to the my swarm via TCP.
I then connect apps (e.g. Traefik.io) that need the socket to that TCP endpoint. This means I only have to mount the managers Docker socket as volume once.

Please provide an option to connect the visualizer to a TCP exposed [possibly non-secured] socket.

[2017-11-29 19:42] ManoMarks commented on #96
We don't want to make this sample application too complicated.

[2017-11-29 19:42] #96 closed

[2017-12-01 01:00] Larry850806 opened #98 "h.default.findWhere is not a function"
I use latest docker image, which is created about an hour ago. It's image id is `ab6b6bda4129`. It shows the error on the webpage

![screen shot 2017-12-01 at 8 58 41 am](https://user-images.githubusercontent.com/10403741/33463036-130ba3a8-d676-11e7-853c-ae67f9d215ca.png)

[2017-12-01 02:31] ManoMarks commented on #98
@Larry850806 can you try pulling again? I'm unable to reproduce the issue. If that doesn't fix it, please post the steps you're taking so we can reproduce

[2017-12-01 02:40] Larry850806 commented on #98
I use visualizer as a service. This is part of my `docker-compose.yml`

[code]

Everything is ok when I use `dockersamples/visualizer:stable`. But when I use `dockersamples/visualizer:latest`. Webpage doesn't show services but only error message in devtool.

[2017-12-02 14:39] RandomByte opened #101 "alexellis2/visualizer-arm tag 0.4 missing on Docker Hub"
Tag 0.4 is missing in the [alexellis2/visualizer-arm](https://hub.docker.com/r/alexellis2/visualizer-arm/tags/) repository on Docker Hub.

Even though not available, 0.4 is [referenced in the readme](https://github.com/dockersamples/docker-swarm-visualizer#running-on-arm):

[2017-12-08 17:46] ManoMarks commented on #98
Fixed in #100

[2017-12-08 17:46] #98 closed

[2017-12-08 17:47] ManoMarks commented on #88
This is a sample app, not meant for production. Feel free to fork it.

[2017-12-08 17:47] #88 closed

[2017-12-08 17:48] ManoMarks commented on #85
Reviewing old issues. Feel free to submit a PR and we'll review

[2017-12-08 17:48] #85 closed

[2017-12-08 17:49] ManoMarks commented on #80
This is a sample app, not meant for production. If anyone wants to submit a PR we would review.

[2017-12-08 17:49] #80 closed

[2017-12-11 05:09] vikasksrivastava commented on #19
I had the same issue , fixed by disabling selinux .

[2017-12-11 05:09] vikasksrivastava commented on #3
I had the same issue , fixed by disabling selinux .

[2017-12-29 01:02] jgoerz commented on #68
tldr;
solution (use the stable tag):
docker service create --name=viz --publish=8080:8080/tcp --constraint=node.role==manager \\
--mount=type=bind,src=/var/run/docker.sock,dst=/var/run/docker.sock dockersamples/visualizer:**stable**

I was able to reliably reproduce this.
Host:
Ubuntu 16.04
Docker installed via these instructions: https://docs.docker.com/engine/installation/linux/docker-ce/ubuntu/

[2017-12-29 20:24] BretFisher commented on #68
I think this is due to the recent node healthcheck added @ManoMarks, it fails.

[2017-12-29 21:30] BretFisher commented on #68
Yea the problem is the newer [node-based healthcheck](https://github.com/dockersamples/docker-swarm-visualizer/commit/ce3b071141e4da7b6d6d832e6d135645e99e02ba) @ManoMarks I've had the same issue when it's a service, the service eventually fails. The HC always exits 1 so it won't cause issues in docker run, but you'll see it marked unhealthy eventually. As a service, it will recreate itself after 3

[2017-12-31 21:39] BretFisher commented on #68
OK inspect was showing that node couldn't find `healthcheck.js` for some reason:

[code]

Putting in a relative path didn't help, but hardcoded full path worked. PR coming.

[2018-01-02 09:53] albers commented on #68
@BretFisher Got the same issue: `docker inspect` showing _Cannot find module '/healthcheck.js'_ on a service. I use
 dockersamples/visualizer@sha256:868b83d5fb2aff628f6dfaeb081b0e0124cdaf06354bf252d92d878b75193f7e

[2018-01-02 09:55] thaJeztah commented on #68
@albers see https://github.com/dockersamples/docker-swarm-visualizer/pull/103#issuecomment-354656984

[2018-01-02 22:06] #68 closed

[2018-01-02 22:07] ManoMarks commented on #101
@alexellis

[2018-01-15 12:57] se7enack commented on #45
Thanks a bunch!

[2018-01-21 18:29] ehubbard commented on #101
Does anyone have a clone of this they could put up DockerHub?

[2018-01-30 12:48] pahakalle commented on #95
Wanna take a cool new one and add it here so someone can add it?

[2018-02-10 19:07] alexellis commented on #101
I checked and the readme says to use the `latest` tag. `0.4` is mentioned in another place so I can update that to `latest` as that would be clearer.

To check for latest Docker Hub images go here:

https://hub.docker.com/r/alexellis2/visualizer-arm/tags/

@RandomByte @ehubbard

Full instructions are given for how you can build this yourselves.. I'm not sure where the confusion is.. this is the pa

[2018-02-11 15:13] RandomByte commented on #101
My only concern was the `docker service create` example, which mentioned the non-existing 0.4 tag and therefore failed to execute.

#104 looks good and resolves this issue 👍

[2018-02-18 21:47] #101 closed

[2018-02-27 08:48] cecchisandrone commented on #3
In my case, watching at REST calls, the problem was due to the fact the visualizer container was not deployed on a swarm manager. Promoting other nodes to managers made it work.

[2018-04-20 11:06] jnovack opened #107 "Unable to display content while containers are preparing"
[data-provider.js](https://github.com/dockersamples/docker-swarm-visualizer/blob/a426fa947f2fde65387bad636ce8bcae77d01355/src/data-provider.js#L90
) fails during container preparation (`downloading`, `preparing`).

This causes a complete halt of the visualization in the event you have a `restart:always` container failing on `preparing` (e.g. 'Invalid mount type..', etc)

[code]

Not sure why, as i

[2018-06-21 05:04] piyushkumar13 opened #109 "Hosting container of this image in AWS ECS cluster"
Can I use this image in AWS ECS Cluster to show aggregated view of the ECS cluster

[2018-07-03 14:49] kobenauf opened #110 "Visualizer displays wrong info if previous tasks failed"
**Description**

If I deploy a stack that fails or is rejected, Visualizer displays node labels as [object Object] and service names as "undefined".  (See screen shot.)

If I run `docker stack ps my-service` I see:
[code]
Because the job had failed, I had also run `docker stack rm my-service`.

I suspect Visualizer is seeing these old failed tasks rather than filtering to only ones whose Current S

[2018-07-03 15:42] kobenauf commented on #110
Incidentally, I was able to "recover" from this by one by one doing `docker node demote xxx` then `docker node promote xxx` for each of the three swarm managers.

The weird thing in this is even though I had done `docker stack rm my-service`, I could still see the failed tasks when I ran `docker stack ps my-service`.  Normally when you remove a stack, you get `nothing found in stack: my-service`.

[2018-07-16 12:36] coop59 opened #112 "Vsualizer for Arm"
Hello,

I ran this on my docker swarm via this command: **sudo docker service create --name cfviz --publish 8080:8080/tcp --constraint node.role==manager --mount type=bind,src=/var/run/docker.sock,dst=/var/run/docker.sock alexellis2/visualizer-arm:latest**

My Problem is it is showing the visulizer only. I have both the visualizer and portainer running on the Leader/Manager of the swarm. Visualize

[2018-07-30 09:19] hariharan1993 opened #113 "Docker service creation taking more time"
i'm new to this docker service creation please help me if i'm wrong , i executed this command
**docker service create --name "testApp" -p 8000:8000 testApp** , its taking too long time to execute so that my shell is getting timeout .
anything wrong am i doing here??

[2018-07-30 18:40] BretFisher commented on #113
1. you need a space between port and image name `-p 8000:8000 testApp`
2. I recommend reading up on [services in the docs](https://docs.docker.com/engine/swarm/how-swarm-mode-works/services/) and then also look at the [syntax for the command](https://docs.docker.com/engine/reference/commandline/service_create/).

[2018-08-20 00:42] MerouaneBen opened #117 "blue screen but showing nothing"
hi,
I'm running into this issue for hours and don't see the reason behind this error:
everytime I run the visualizer  i get this screen :
![image](https://user-images.githubusercontent.com/12593367/44315152-539b5480-a3ef-11e8-9789-9a2463ae41a3.png)

I'm using digital ocean VMs, and this the command i used  to start the visualizer (i've use it with the variable -e HOST and without it, but same resu

[2018-08-20 01:32] BretFisher commented on #117
Are you in swarm mode? Describe your server setup

[2018-08-20 02:12] MerouaneBen commented on #117
thanks for the reply @BretFisher,
yeah I've enabled swarm mode, i'm using one worker and one manager right now for testing purposes (I've also tried with 2 workers and same result). I'm using centos 7.5 x64 images for my VMs (I've also  tried with ubuntu 16.04x64, and same results) ..

![swarm](https://user-images.githubusercontent.com/12593367/44316910-4fc1ff00-a3fc-11e8-90a5-01655f3b6b20.png)
 h

[2018-08-20 08:40] malisevs commented on #117
Encountered the same problem. Using Amazon Linux AMI.

` Client:
 Version:      18.03.1-ce
 API version:  1.37
 Go version:   go1.9.4
 Git commit:   3dfb8343b139d6342acfd9975d7f1068b5b1c3d3
 Built:        Fri Jul 20 19:24:06 2018
 OS/Arch:      linux/amd64
 Experimental: false
 Orchestrator: swarm
`
`
Server:
 Engine:
  Version:      18.03.1-ce
  API version:  1.37 (minimum version 1.12)
  Go vers

[2018-08-20 12:37] MerouaneBen commented on #117
I even tired with a local virtualbox cluster, and same issue. could the issue be related to the version of docker running  ?:
[code]

[2018-08-20 15:17] malisevs commented on #117
Just checked:
/apis/nodes returns nodes
/apis/services returns services
/apis/tasks returns tasks

[2018-08-20 18:48] malisevs commented on #117
https://github.com/dockersamples/docker-swarm-visualizer/pull/116/files this is the cause of this bug. Just checked and it works, if you use 3.10.1 version.

[2018-08-20 19:38] MerouaneBen commented on #117
thanks @malisevs  your fix works.

[2018-08-20 22:35] ManoMarks commented on #117
Fixed for now, ultimately we need to remove the dependency to lodash

[2018-08-20 22:35] #117 closed

[2018-08-21 04:37] chabad360 commented on #98
this issue is back

[2018-08-21 22:05] #113 closed

[2018-09-17 13:04] scalalang2 commented on #110
I discovered same issue.

[2018-10-08 11:43] eliasbrange opened #122 "Show engine labels on nodes."
The visualizer only shows `node` labels and not `engine` labels. We are using engine labels for non-security related placement constraints so that the nodes can handle the labeling in a decentralized manner. Would it be possible to show these in the visualizer alongside the node labels?

[2018-10-18 03:58] hieu29791 commented on #110
Does anyone have answer for this issue? I have the same issue and don't know how to fix this. Thanks.

[2018-12-01 09:49] zkl99999 opened #123 "docker pull manomarks/visualizer Using default tag: latest Error response from daemon: manifest for manomarks/visualizer:latest not found"
docker pull manomarks/visualizer
Using default tag: latest
Error response from daemon: manifest for manomarks/visualizer:latest not found

my docker version
docker --version
Docker version 18.09.0, build 4d60db4
ubuntu16.04 64bits

[2018-12-01 10:57] ManoMarks commented on #123
use dockersamples/visualizer

[2018-12-01 10:57] #123 closed

[2019-01-02 20:55] ManoMarks commented on #112
obsoleted by #105

[2019-01-02 20:55] #112 closed

[2019-01-14 05:01] tobiasfielitz commented on #107
Same here.

[2019-01-24 08:42] travishen commented on #110
+1 Swarm on GCP

![docker-visualizer-undefined](https://user-images.githubusercontent.com/28494579/51664958-980dca80-1ff5-11e9-8857-02bf1524ab60.png)

**Deploy command**
[code]

<details><summary>docker-stack.yml</summary>
<p>

[code]
</p>
</details>

<details><summary>docker version</summary>
<p>

[code]
</p>
</details>

<details><summary>docker info</summary>
<p>
[code]
</p>
</details>

[2019-01-24 13:31] dfresh613 commented on #110
@kobenauf is on to something. I was able to fix the issue by demoting and promoting only the manager node where visualizer was running. I think this works because it forces the visualizer to move to another manager.

I suspect this can also be fixed by updating the visualizer service and moving it to another manager node:

[code]

[2019-03-01 12:45] TalhaAsmal commented on #110
You can also resolve the issue by restarting the docker service. In Linux I ran the following and once docker restarts the visualizer is fixed as well.

`sudo service docker restart`

[2019-03-07 12:02] karlholbrook opened #128 "Can we have a tag for 1809 please so I can run in-process on win server 2019."
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER SWARM VISUALIZER **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/moby/moby) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, sign up fo

[2019-03-07 12:54] pahakalle commented on #128
For a fast option fork the repo and add tags to the fork

[2019-05-08 21:18] jimtaylor123 commented on #45
Yes, thank you still in 2019

[2019-06-19 14:52] 18566246732 commented on #107
same here, any solutions ?

[2019-07-16 03:58] bvans commented on #107
Same here

[2019-08-13 03:29] JackyChou commented on #107
I have encountered this problem when I get start with docker.
https://docs.docker.com/get-started/part5/

And I found the container in myvm2 is Preparing.
`$docker stack ps getstartedlab`
`ID                  NAME                  IMAGE                          NODE                DESIRED STATE       CURRENT STATE              ERROR               PORTS`
`7uiy2jfca5v9        getstartedlab_web.1   p

[2019-09-05 13:46] jnovack commented on #107
The maintainers have made it clear that to keep this project as "simple as possible", they do not care about outstanding issues or enhancing the project. (Reference: https://github.com/dockersamples/docker-swarm-visualizer/pull/106)

I suggest you either [download, apply the pull request yourself, and rebuild](https://coderwall.com/p/6aw72a/creating-patch-from-github-pull-request) yourself, or mov

[2019-11-18 14:41] 7hill opened #132 "Scaling visualizer"
Hi,

The visualizer service can be started using the below command in the docker swarm manager,
but if the manager node is down the visualizer not accessible. The visualizer also getting down not scaled into other running nodes.

**docker service create -p 8080:8080 --constraint=node.role==manager \
 --mount=type=bind,src=/var/run/docker.sock,dst=/var/run/docker.sock \
 --name visualizer dockersam

[2019-11-18 14:44] 7hill commented on #132
Is there any possibility to run the visualizer on TLS/HTTPS?

[2019-11-19 13:21] piyushkumar13 commented on #109
Since no update on this. I am closing the issue.

[2019-11-19 13:21] #109 closed

[2019-12-08 19:14] jppiiroinen opened #133 "Invalid format conversion"
The bytes to gigabytes is not done correctly, see line 47:
https://github.com/dockersamples/docker-swarm-visualizer/blob/cb73142d95c48cd74c3506e80e556a648eaee269/src/utils/request.js#L47

[2019-12-13 08:30] eoli3n opened #134 "Not showing anything"
**Description**
When i start viz service, and access to localhost:8080, it just run without end and print nothing.

**Steps to reproduce the issue, if relevant:**
[code]
[code]
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Any answer from the server

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

[2019-12-16 22:17] eoli3n commented on #134
I confirmed that on 3 different swarms. It works well with ``docker run`` cmd but not with ``docker service`` one.

[2020-03-31 21:42] imidom commented on #134
Late response, but do you get a response by hitting `http://0.0.0.0:8080`? I ran into the same issue and think it may be related to [this ipv6 issue with Swarm](https://github.com/moby/moby/issues/24379).

[2020-04-12 00:00] vpriscan commented on #134
@eoli3n
Your browser seems to have chosen the IPv6 localhost.
And Docker Swarm still doesn't work with IPv6.
Try `http://127.0.0.1:8080`

[2020-12-31 12:57] soumilshah1995 opened #138 "running on ARM Raspberry 3B"
** PLEASE ONLY USE THIS ISSUE TRACKER TO SUBMIT ISSUES WITH THE DOCKER SWARM VISUALIZER **

* If you have a bug working with Docker itself, not related to these labs, please file the bug on the [Docker repo](https://github.com/moby/moby) *
* If you would like general support figuring out how to do something with Docker, please use the Docker Slack channel. If you're not on that channel, sign up fo

[2021-01-17 16:17] BerGer23 commented on #138
Same happens for me, it gets up to here:

`docker service logs viz -f
viz.1.na6fnbg9h4tg@raspi4    |
viz.1.na6fnbg9h4tg@raspi4    | > swarmVisualizer@0.0.1 start /app
viz.1.na6fnbg9h4tg@raspi4    | > node server.js
viz.1.na6fnbg9h4tg@raspi4    |
viz.1.na6fnbg9h4tg@raspi4    | undefined`

[2021-01-19 13:03] soumilshah1995 commented on #138
i guess its cz way they built the docker image

[2021-06-16 04:35] BretFisher commented on #138
the current `dockersamples/visualizer` image is amd64 only. Until that gets fixed, I have a fork with the exact same source code that's built to multiple platforms at `bretfisher/visualizer`

[2021-06-16 04:38] BretFisher commented on #134
Looks like this issue isn't related to this image. Indeed, on certain linux system "localhost" points to ::1 IPv6 so you'll need to point to 127.0.0.1. I'll close this issue for now.

[2021-06-16 04:38] #134 closed

[2021-06-16 04:42] BretFisher commented on #132
1. The visualizer requires access to the docker engine on a manager node, so running on worker nodes in its current design isn't possible.
2. To add a certificate to container apps, you usually run a front-end proxy like Nginx or Traefik to provide TLS for backend web-server containers.

[2021-06-16 04:42] #132 closed

[2021-06-16 04:42] #128 closed

[2021-06-16 04:43] BretFisher commented on #128
Sorry, adding older windows versions to the supported images isn't something we'll support, but yes, you're welcome to fork and update the Windows Dockerfile.

[2021-06-16 04:44] BretFisher commented on #122
That isn't possible in this sample apps current design, but check out https://www.portainer.io which can have agents on each node.

[2021-06-16 04:44] #122 closed

[2021-06-16 04:52] BretFisher commented on #71
Will likely never happen so I'll mark as won't fix :(

[2021-06-16 04:52] #71 closed

[2021-06-16 04:53] BretFisher commented on #75
Similar to #58 so I'll close this one in favor of that one.

[2021-06-16 04:53] #75 closed

[2021-06-16 07:54] ukreddy-erwin opened #143 "Showing red but no details are there, how to trace that?"
I have running 4 docker swarm services on three different nodes. One is manager among them.

![image](https://user-images.githubusercontent.com/21240709/122180471-152b8a00-cea6-11eb-959e-856660117ca4.png)

Why is the oracle container (running in manager) is showing red even the status is running.
Where to check what is the issue?

[2021-06-17 14:05] BretFisher commented on #143
The replica status color is the dot. The box color is random, and used match replicas of the same service.

[2021-06-17 14:05] #143 closed

[2021-06-17 14:27] ukreddy-erwin commented on #143
Only few are showing in red.
[Image]

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Bret Fisher ***@***.***>
Sent: Thursday, 17 June, 2021, 7:35 pm
To: dockersamples/docker-swarm-visualizer
Cc: Uday Kiran Reddy; Author
Subject: Re: [dockersamples/docker-swarm-visualizer] Showing red but no details are there, how to trace that? (#143)

CAUTION: This email o

[2021-07-10 14:29] juanjo-vlc commented on #45
[code]

[2021-07-14 04:31] ukreddy-erwin opened #144 "Node is continuosly removed"
I have added 2 swam workers and a worker node is continuously removed from swarm.

![image](https://user-images.githubusercontent.com/21240709/125561330-9c37eed8-9eda-42b1-a204-64bae456f1d1.png)

After sometime, it will gain back.
But the machine is running correctly without any issue when I connect with ssh.

These are aws machines with all ports and access enabled

How to troubleshoot this?